<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark justify-content-between">
  <a href="#" class="navbar-brand">Players</a>
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="keyword"
    (keyup.enter)="search()">
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
</nav>
<div class="ml-3 mr-3">
  <div class="row">
    <div class="col-3">
      <div class="form-group form-inline">
        <label for="entriesSelect">Show entries: </label>
        <select class="form-control ml-2" [(ngModel)]="pageSize" (ngModelChange)="search()" id="entriesSelect">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
      </div>
    </div>
    <div class="col-9 text-right">
    <app-pagination-component [paginationDetails]="pagination" (onPagination)="onPagination($event)" ></app-pagination-component>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col"> # </th>
          <th scope="col"><i class="fa fa-file-image-o" aria-hidden="true"></i> Picture</th>
          <th scope="col"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Name </th>
          <th scope="col"><i class="fa fa-users" aria-hidden="true"></i> Team</th>
          <th scope="col"><i class="fa fa-venus" aria-hidden="true"></i><i class="fa fa-mars" aria-hidden="true"></i>
            Gender</th>
          <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Age</th>
          <th scope="col"><i class="fa fa-child" aria-hidden="true"></i> Active</th>
          <th scope="col"><i class="fa fa-futbol-o" aria-hidden="true"></i> Goals</th>
          <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> Appearances</th>
          <th scope="col"><i class="fa fa-square text-danger" aria-hidden="true"></i> Red Cards</th>
          <th scope="col"><i class="fa fa-square text-warning" aria-hidden="true"></i> Yellow Cards</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of players; let idx = index">
          <td>{{page * pageSize - pageSize + idx + 1}}</td>
          <td><img [src]=item.picture [alt]=item.name></td>
          <td>{{item.name}}</td>
          <td>{{item.team.name}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.age}}</td>
          <td><i *ngIf="item.isActive" class="fa fa-check text-success" aria-hidden="true"></i><i *ngIf="!item.isActive"
              class="fa fa-times text-danger" aria-hidden="true"></i></td>
          <td>{{item.goals}}</td>
          <td>{{item.appearances}}</td>
          <td>{{item.redCards}}</td>
          <td>{{item.yellowCards}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col text-center">
        <app-pagination-component [paginationDetails]="pagination" (onPagination)="onPagination($event)" ></app-pagination-component>
    </div>
  </div>
</div>