<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark justify-content-between">
  <a href="#" class="navbar-brand">Players</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container">
  <h2>Here are some links to help you start: </h2>
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">Name</th>
          <th scope="col">Team</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Active</th>
          <th scope="col">Goals</th>
          <th scope="col">Appearances</th>
          <th scope="col">Red Cards</th>
          <th scope="col">Yellow Cards</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of players">
          <td><img [src]=item.picture [alt]=item.name></td>
          <td>{{item.name}}</td>
          <td>{{item.team.name}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.age}}</td>
          <td>{{item.isActive}}</td>
          <td>{{item.goals}}</td>
          <td>{{item.appearances}}</td>
          <td>{{item.redCards}}</td>
          <td>{{item.yellowCards}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<footer class="container">
  <p>&copy; 2019-2020 Players WebApp by Florian Celestin Bochis
  </p>
</footer>